footer {
    background-color: #1b357e;
    width: 100vw;
    height: 35px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    font-family: "Play", serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-media-footer {
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
}
.social-media-footer p {
    display: inline;
    vertical-align: middle;
    color: white;
    font-size: 20px !important;
}
.social-media-footer ul {
    vertical-align: middle;
    display: inline;
}
.social-media-footer ul li {
    display: inline;
}
.social-media-footer ul li img {
    width: 30px;
    transition: width 0.2s, padding 0.2s;
    -webkit-user-drag: none;
}
.social-media-footer ul li:hover {
    opacity: 0.5;
}
.social-media-footer ul li:hover img {
    width: 25px;
    padding: 2.5px;
}
.ford-logo-footer {
    margin-right: 20px;
    display: inline-block;
    transition: opacity 0.2s;
}
.ford-logo-footer img {
    -webkit-user-drag: none;
}
.ford-logo-footer:hover {
    opacity: 0.5;
}
@media screen and (max-width: 400px) {
    footer {
        height: 5vh;
       /* .social-media-footer {
            p{
                display: none;
           }
       }
        */
        justify-content: space-evenly;
        .social-media-footer p {
            font-size: 15px !important;
        }
   }
}
@media screen and (max-width: 600px) {
    footer {
        height: 4dvb;
    }

    footer .social-media-footer ul li img {
        width: 25px;
   }
    footer .ford-logo-footer {
        height: 10vw;
   }
    footer .ford-logo-footer img {
        max-height: 100%;
   }
}
