header {
    background-color: white;
    min-width: 100%;
    height: 5dvh;
    position: fixed;
    top: 0px;
    padding: 5px;
    font-family: "Play", serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    align-items: center;
}
header .logo-ford-header {
    margin-left: 10px;
    display: inline-block;
    height: 100%;
    align-content: center;
}
header .logo-ford-header a {
    vertical-align: middle;
}
header .logo-ford-header img {
    height: 80%;
    cursor: pointer;
    display: inline;
    transition: opacity 0.1s;
    -webkit-user-drag: none;
}
header .logo-ford-header img:hover {
    opacity: 0.7;
}

header .mobile-menu{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .navigation-header {
    height: fit-content;
    min-width: max-content;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header .navigation-header ul li {
    display: inline;
    margin: 5px;
    cursor: pointer;
    transition: color 0.2s;
}
header .navigation-header ul li a {
    color: inherit;
    text-decoration: none;
}
header .navigation-header ul li:hover {
    color: #1351d8;
}

header + main{
    margin-top: 70px;
    min-width: 100%;
}

.selected {
    color: navy;
    text-decoration: solid;
    text-decoration-line: overline;
    text-decoration-thickness: 1px;
    transition: text-shadow 1s;
}
.selected:hover {
    color: navy !important;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/* header + main {
    margin-top: 40px;
} */
@media screen and (max-width: 600px) {
    header {
        height: 4dvb;
   }
    /* header .logo-ford-header img {
        height: 5vw;
   } */
    header + main {
        margin-top: 40px;
   }
}

@media screen and (max-width: 360px) {

    header .navigation-header{
        left: 60vw;
    }
}