

header + main {
    margin-top: 60px;
}
.compare-area {
    text-align: center;
    height: max-content;
}
.compare-area button {
    margin-top: 2.5rem;
    margin-bottom: 10vh;
    display: block;
    justify-self: center;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    background-color: #1b357e;
    color: white;
    cursor: pointer;
    font-size: 15px !important;
    transition: opacity 0.2s;
}
.compare-area button:hover {
    opacity: 0.8;
}
main .youtube-video {
    min-width: 100%;
    min-height: fit-content;
    background-color: #f6f6f6;
    text-align: center;
}
main .youtube-video iframe {
    height: 50vh;
    min-width: 100%;
}
main .cars-releasing {
    margin-top: 10px;
    height: fit-content;
    width: max-content;
    display: inline-block;
}
main .cars-releasing .car {
    position: relative;
    margin-left: 15px;
    min-width: max-content;
    min-height: 1vw;
    display: inline-block;
}
main .cars-releasing .car .car-image {
    text-align: center;
    height: 184px;
    cursor: pointer;
    /* z-index: 4; */
}

main .cars-releasing .car .car-image img {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    -webkit-user-drag: none;
    transition: transform 0.1s;
    z-index: -1;
}

.car-get-info{
    z-index: 1;
    cursor: pointer;
}

.checkbox-to-label{
    display: none;
}

.car-info-popup{
    display: none;
    width: 0;
    overflow: hidden;
    z-index: 1;
    border-style: solid;
    position: absolute;
    width: max-content;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    transition: width 1s;
}

.car-popup{
    background-color: white;
    text-align: left;
}

.car-popup, td{
    font-size: 16px !important;
    border: 1px solid #1b357e;
    padding: 5px;
}

.checkbox-to-label:checked + .car-info-popup {
    display: block;
}

main .cars-releasing .car .car-image:hover img{
    transform: translateY(-5px);
}

main .cars-releasing .car .car-detail {
    display: flex;
    justify-content: space-evenly;
    overflow: visible;
    position: relative;
    z-index: 1;
}
main .cars-releasing .car .car-detail input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
main .cars-releasing .car .car-detail .info-button {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: opacity 0.05s;
}
main .cars-releasing .car .car-detail .info-button:hover {
    opacity: 0.5;
}
main .cars-releasing .car .car-detail .to-read {
    z-index: 1;
    font-size: 20px;
    display: inline-block;
    width: 250px;
    margin-right: 15px;
}
main .cars-releasing .car .car-detail .to-read .car-text {
    width: 100%;
    color: #1351d8;
    font-size: 16px !important;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: justify;
}
main .cars-releasing .car .car-detail .to-read .car-info {
    overflow: hidden;
    text-align: justify;
    font-size: 16px !important;
}
@media screen and (max-width: 600px) {
    header + main {
        margin-top: 40px;
   }
    main .youtube-video iframe {
        height: 40vh;
   }
    .car {
        margin-left: 0 !important;
   }
}
@media screen and (max-width: 1024px) {
    .compare-area, .compare-area .cars-releasing {
        display: inline-block;
        width: 100vw;
   }
    .car {
        display: block;
        max-width: 10px;
   }
    .car .car-image {
        max-height: 15rem;
   }

    /* main {
        margin-bottom: 100px;
   } */
}

/* @media screen and (orientation: portrait){
    button{
        background-color: red !important;
        margin-bottom: 15vw;
    }
} */

.colors {
    z-index: 2;
    top: 10%;
    right: -2%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    /* height: 100%; */
    gap: 2%;
    label {
        display: inline;
        width: 0.8rem;
        height: 0.8rem;
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 0.1s;
    }

    #red {
        background-color: #9b3939;
    }
    #white {
        background-color: #ffffff;
    }
    #black {
        background-color: #000000;
    }
    #blue {
        background-color: #1b357e;
    }
}

.change-color-radio-button{
    display: none;
    width: 100px;
}

/* Primeira Linha de Carro */

#xl20-white-radio:checked + img {
    display: block;
}

#xl20-red-radio:checked + img {
    display: block;
}

/* Segunda Linha de Carro */

#xls-white-radio:checked + img {
    display: block;
}

#xls-red-radio:checked + img {
    display: block;
}

#xls-blue-radio:checked + img {
    display: block;
}
#xls-black-radio:checked + img {
    display: block;
}

/* Terceira linha de carro */

#storm-white-radio:checked + img{
    display: block;
}

#storm-red-radio:checked + img{
    display: block;
}

#storm-blue-radio:checked + img{
    display: block;
}

#storm-black-radio:checked + img{
    display: block;
}


.carro-foto{
    display: none;
    width: 320px;
    height: 184px;
    object-fit: contain;
}