main {
    padding-top: 5vh;
    font-family: "Play", 'Verdana';
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

#contact-reason{
    /* margin-right: 5px; */
}

main .main-form{
    display: flex;
}

main .main-form .car-photo img{
    -webkit-user-drag: none;
    max-width: 450px;
}

main .main-form .contact-form form > input, h2, select{
    display: block;
    margin: 5px 0 5px 0;
}

.balloon{
    resize: vertical;
    height: 10vh;
    min-height: 10vh;
    max-height: 30vh;
}

select{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    /* max-width: 20.3vw !important; */
    /* width: 20.3vw !important; */
}

main .main-form .contact-form form input, .balloon{
    max-width: 20vw;
    width: 20vw;
    height: 35px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    place-self: end;
    transition: box-shadow 0.1s;
    vertical-align: middle;
}


main .main-form .contact-form form input:hover, select:hover, .balloon:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

main .main-form .contact-form form input[type='button']{
    width: 13vw;
    background-color: #1b357e;
    color: white;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.1s;
}

main .main-form .contact-form form input[type='button']:hover{
    opacity: 0.8;
}

main .main-form .contact-form form h2{
    font-weight: 600;
}

@media screen and (orientation: portrait){

    main .main-form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    main .main-form .car-photo img{
        width: 70vw;
    }

    main .main-form .contact-form{
        width: 71vw;
    }

    main .main-form .contact-form form{
        /* background-color: gray; */
        place-self: end;
        /* max-width: 71vw; */
        width: 71vw;
    }
    
    select{
        width: 71vw !important;
        max-width: 71vw !important;
    }

    .balloon{
        height: 10vh;
        max-height: 20vh;
    }
    
    main .main-form .contact-form form input, .balloon{
        max-width: 100%;
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border-width: 1px;
        padding: 0;
        border-style: solid;
    }
    main .main-form .contact-form form input[type='button']{
        width: 50vw;
        background-color: #1b357e;
        color: white;
        border: none;
    }
}

@media screen and (max-height: 600px){
    main .main-form .contact-form form input{
        height: 4dvh;
    }
    main .main-form .contact-form form input[type='button']{
        height: 6dvh;
    }
}