main {
    padding-top: 5vh;
    font-family: "Play", 'Verdana';
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

main .main-form{
    display: flex;
}

main .main-form .contact-form form > input, h2{
    display: block;
    margin: 5px;
}

main .main-form .contact-form form input{
    width: 20vw;
    height: 35px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    place-self: end;
}

main .main-form .contact-form form input[type='button']{
    width: 13vw;
    background-color: #1b357e;
    color: white;
    border: none;
}

main .main-form .contact-form form h2{
    font-weight: 600;
}

@media screen and (orientation: portrait){

    main .main-form{
        display: flex;
        flex-direction: column;
    }

    main .main-form .contact-form form{
        place-self: end;
        width: 70vw;
    }
    
    main .main-form .contact-form form input{
        width: 70vw;
        height: 30px;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
    }
    main .main-form .contact-form form input[type='button']{
        width: 50vw;
        background-color: #1b357e;
        color: white;
        border: none;
    }
}

@media screen and (max-height: 600px){
    main .main-form .contact-form form input{
        height: 4dvh;
    }
    main .main-form .contact-form form input[type='button']{
        height: 6dvh;
    }
}