main {
    padding-top: 5vh;
    font-family: "Play", 'Verdana';
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

main .main-form{
    display: flex;
}

main .main-form .car-photo img{
    -webkit-user-drag: none;
}

main .main-form .contact-form form > input, h2, select{
    display: block;
    margin: 5px;
}

.balloon{
    resize: vertical;
    min-height: 10vh;
}

select{
    max-width: 20.3vw !important;
    width: 20.3vw !important;
}

main .main-form .contact-form form input, select ,.balloon{
    max-width: 20vw;
    width: 20vw;
    height: 35px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    place-self: end;
    transition: box-shadow 0.1s;
    vertical-align: middle;
}


main .main-form .contact-form form input:hover, select:hover, .balloon:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

main .main-form .contact-form form input[type='button']{
    width: 13vw;
    background-color: #1b357e;
    color: white;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.1s;
}

main .main-form .contact-form form input[type='button']:hover{
    box-shadow: 0 0 5px blue;
}

main .main-form .contact-form form h2{
    font-weight: 600;
}

@media screen and (orientation: portrait){

    main .main-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .main-form .car-photo img{
        width: 70vw;
    }

    main .main-form .contact-form form{
        place-self: end;
        width: 70vw;
    }
    
    main .main-form .contact-form form input{
        width: 70vw;
        height: 30px;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
    }
    main .main-form .contact-form form input[type='button']{
        width: 50vw;
        background-color: #1b357e;
        color: white;
        border: none;
    }
}

@media screen and (max-height: 600px){
    main .main-form .contact-form form input{
        height: 4dvh;
    }
    main .main-form .contact-form form input[type='button']{
        height: 6dvh;
    }
}