main {
    font-family: "Play", serif;
    width: 100vw;
    .main-content{
        display: flex;
        justify-content: center;
        .ford-ranger-image{
            text-align: center;
            display: block;
    
            img{
                -webkit-user-drag: none; 
                width: 100%;
            }
    
            p{
                margin-top: 1rem;
            }
            p a{
                color: navy;
                text-decoration: none;
                vertical-align: middle;
            }
            p a:hover{
                text-shadow: 0 0;
            }
        }
    }
}