main {
	 font-family: "Play", serif;
	 width: 100vw;
}
 main .main-content {
	 display: flex;
	 justify-content: center;
}
 main .main-content .ford-ranger-image {
	height: 50vh;
	 text-align: center;
	 display: block;
}
 main .main-content .ford-ranger-image img {
	 -webkit-user-drag: none;
	 height: 100%;
     transition: transform 1s;
}

 main .main-content .ford-ranger-image p {
	 margin-top: 1rem;
     margin-bottom: 12vh;
}
 main .main-content .ford-ranger-image p a {
	 color: navy;
	 text-decoration: none;
	 vertical-align: middle;
}

main .ford-ranger-text{
	max-width: 70vw;
	width: 70vw;
	justify-self: center;
	text-align: justify;
	margin-top: 7vh;
	position: relative;
}

 main .main-content .ford-ranger-image p a:hover {
	 text-shadow: 0 0;
}
 
@media screen and (orientation: portrait) {
	main .ford-ranger-text{
		max-width: 100vw;
		width: 90vw;
	}
	
}